@use '../../foundation/mixin' as *;

.c-arrow {
  width: 15px;
  height: 15px;
  opacity: 0;
  transition: 0.3s;
  transform: translateX(-10px);
  padding-top: 5px;
}

.c-arrow--sideMenu {
  width: 20px;
  height: 20px;
  opacity: 0;
  transition: 0.3s;
  transform: translateX(-10px);
}

.c-arrow--event {
  width: 30px;
  height: 30px;
  opacity: 0;
  transition: 0.3s;
  transform: translateX(-10px);
  display: block;
  align-items: flex-start;
}