@use '../../foundation/mixin' as *;

.c-btn--item {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  outline: none;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -1px;
  overflow: visible;
  height: auto;
}

.c-btn--itemText {
  display: inline-block;
  position: relative;
}

.c-btn--sideItem {
  width: 50%;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.c-btn--sideItem--center {
  width: 100%;
  justify-content: center;
  text-align: center;
}

.c-btn--sideItem--footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 3);
}

.c-btn--sideText {
  display: inline-block;
  position: relative;
  padding: 0 10px 0 30px;
  font-size: 15px;
}

.c-btn--footerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: grey 3px double;
  max-height: 50px;
  padding: 16px;

  &.-full {
    min-width: 100%;
  }

  &.-aboutContents {
    width: 60%;

    @include sp {
      width: 30%;
    }
  }

  @include sp {
    margin: 0;
    order: 4;
    min-width: 120px;
    width: 90%;
  }

  &.-episode:last-child {
    @include sp {
      grid-column: 1 / -1;
      width: 45%;
    }
  }

  &.-sp {
    @include sp {
      width: 30%;
    }
  }
}

.c-btn--footerButton--sizeM {
  width: 100%;
}

.c-btn--footerButton--others {
  color: #fff;
  max-width: 200px;
  width: 100%;

  @include sp {
    margin: 0 auto;
  }
}

.c-btn--about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  z-index: 2;
}

.c-btn--about__icon {
  color: #333;
  font-size: 10px;
  display: inline-block;
  transition: transform 0.3s ease;
}

.c-btn--about:hover .c-btn--about__icon {
  animation: arrowMove 0.3s ease;
}

.c-btn--primary,
.c-btn--sns {
  position: relative;
  overflow: hidden;
}

.c-btn--sns {
  color: #fff;
}

.c-btn--primary .c-btn--hover--primary,
.c-btn--sns  .c-btn--hover--sns {
  transform: translateY(100%);
}

.c-btn--default {
  display: block;
  font-size: 15px;

  @include sp {
    font-size: 13px;
  }
}

.c-btn--default--primary {
  display: block;
  font-size: clamp(8px, 4vw, 14px);
  white-space: nowrap;

  @include tab {
    font-size: clamp(10px, 3vw, 12px);
  }

  @include sp {
    font-size: clamp(8px, 4vw, 10px);
  }
}

.c-btn--hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform 0.3s;
  font-size: 20px;
}

.c-btn--hover--primary {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(100%);
  transition: transform 0.3s;
  font-size: 15px;
}

.c-btn--item:hover .c-arrow,
.c-btn--sideItem:hover .c-arrow--sideMenu {
  opacity: 1;
  transform: translateX(0);
}

.c-btn--primary span {
  transition: 0.3s ;
  transform: translateY(0);
}

.c-btn--sideItem--footer:hover .c-menu--default--sideFooter,
.c-btn--primary:hover .c-btn--default--primary,
.c-btn--sns:hover  .c-btn--default--primary {
  transform: translateY(-100%);
}

.c-btn--sideItem--footer:hover .c-menu--hover--sideFooter,
.c-btn--primary:hover .c-btn--hover--primary,
.c-btn--sns:hover  .c-btn--hover--primary {
  transform: translateY(0);
}