@use '../../foundation/mixin' as *;

.c-img--headerLogo {
  width: 100%;
  object-fit: contain;
}

.c-img--side {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 30px;
  padding: 0 15px;
  background-size: contain;
  background-color: #fff;
}

.c-img--side--large {
  height: 60px;
}

.c-img--main {
  display: block;
  margin: 0 auto;
  max-width: 720px;
  height: 100%;
  object-fit: cover;
  transform: scale(1);

  @include sp {
    max-width: 300px;
  }
}

.c-img--hero,
.c-img--subHero {
  height: 100%;
  object-fit: cover;
  transform-origin: center bottom;
  display: block;
  margin: 0 auto;

  @include sp {
    height: 120vh;
  }
}

.c-img--flower {
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.c-img--section,
.c-img--viewport {
  width: auto;
  height: auto;
  object-fit: cover;
}

.c-img--section {
  @include sp {
    order: 1;
    max-height: 70px;
  }
}

.c-img--concept,
.c-img--viewport {
  width: 100%;
  --parallax: 0px;
  height: 120%;
  transform: translateY(var(--parallax));
  inset: -10% 0;
}

.c-img--section--concept {
  min-width: 80px;

  @include sp {
    align-items: flex-end;
  }
}

.c-img--viewport--about {
  flex-shrink: 0;
}

.c-img--event {
  max-width: 100%;
  aspect-ratio: 1 /1;
  object-fit: cover;
}

.c-img--concept {
  min-width: 400px;
  object-fit: cover;
  object-position: 45% 80%;
  --x: -40px;
  --y: var(--parallax);

  @include sp {
    max-width: 100%;
  }
}

.c-img--concept--right {
  --x: 40px;
}

.c-img--about {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  object-fit: cover;
  transform: translateY(var(--parallax)) scale(1.08);
}

.c-img--columnTitle {
  padding-top: 25px;
}

.c-img--columnImage {
  width: 100%;
  object-fit: cover;
}

.c-img--concept,
.c-img--viewport,
.c-img--about,
.c-img--columnImage {
  height: 100%;
  object-fit: cover;
  object-position: center 20%;
}

.c-img--others {
  display: block;
  height: 400px;
}

.c-img--photoLogo {
  max-height: 40px;
}

.c-img--photoLogo__day {
  max-height: 31px;
}

.c-img--section--space {
  padding-top: 30px;
  display: block;
  margin: 0;
}

.c-img--party {
  max-width: 220px;
  width: clamp(120px, 35%, 220px);
  height: auto;
  object-fit: cover;
  flex-shrink: 1;
}

.c-img--monoLogo {
  width: 240px;
  height: 100%;
  object-fit: contain;
}

.c-img--sns {
  width: 20px;
  height: 20px;
}

.c-image--footerImage {
  object-fit: contain;
  height: auto;
  width: 100%;
}