@use '../../foundation/mixin' as *;

.c-menuText {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  color: #fff;
  font-size: 16px;
  background-color: #333;
  border-radius: 20px;
  z-index: 200;
  line-height: 30px;
  padding: 0 16px;

  @include sp {
    font-size: 10px;
    line-height: 20px;
    padding: 0 8px;
  }
}

.c-menuText span {
  transition: 0.3s;
  transform: translateY(0);
}

.c-menuText .c-text--hover {
  transform: translateY(100%);
}