@use '../../foundation/mixin' as *;

.c-text--header {
  padding-left: 30px;
  font-size: 12.6479px;
}

.c-text--default {
  display: block;
  text-align: center;
}

.c-text--hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.c-text--title {
  color: gray;
  font-size: 19.9681px;
  text-align: center;
  padding-top: 20px;
}

.c-text--title--large {
  padding-top: 30px;
}

.c-text--headerMenu {
  color: gray;
  font-size: 10px;
}

.c-text--main {
  font-size: 35px;
  text-shadow: 0 3px 10px rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}

.c-text--ContentsTitle {
  font-size: 15px;
}

.c-text--section {
  padding: 50px 0;
  text-align: left;

  @include sp {
    order: 2;
  }
}

.c-text--section--largeSpace {
  padding: 120px 0 50px;
}

.c-text--sectionLine {
  padding-bottom: 10px;
}

.c-text--sectionTitle {
  padding-top: 15px;
  font-size: 15px;
  text-align: left;
  min-height: 80px;
}

.c-text--schedule {
  padding-top: 15px;
  font-size: 15px;
  text-align: left;
  color: gray;
}

.c-text--concept {
  text-align: left;
  font-size: max(2vw, 30px);
  padding-right: 10px;
}

.c-text--conceptNumber {
  font-size: 15px;
}

.c-text--about {
  width: 50%;
  text-align: left;
}

.c-text__aboutContents {
  padding-top: 20px;
  font-size: 15px;
  font-weight: 500;
  min-height: 75px;
}

.c-text--columnTopic {
  padding-top: 30px;
  font-size: 35px;
}

.c-text--subHero {
  color: #fff;
  text-shadow: 0 3px 10px rgba(0,0,0,0.4);
  font-size: 40px;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
}

.c-text--label {
  width: 40%;
}

.c-text--telNumber {
  font-size: 40px;

  @include tab {
    font-size: 20px;
  }
}

.c-text--label, .c-text--detail, .c-text--telNumber {
  font-weight: 500;
  text-align: left;
}

.c-text--photoText {
  color: #fff;
  padding-top: 23px;
  min-height: 70px;
}

.c-text--sectionLead {
  font-size: 24px;
  padding-bottom: 35px;
}

.c-text--sectionText {
  padding-bottom: 40px;
}

.c-text--footerLead {
  color: #fff;
  padding-top: 60px;
  font-size: 30px;
}

.c-text--footer {
  font-size: 13px;
  color: #fff;
}