@use '../../foundation/mixin' as *;

.c-text--header {
  margin-left: 30px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -1px;

  @include sp {
    font-size: 10px;
    margin-left: 14px;
  }
}

.c-text--default {
  display: block;
  text-align: center;
}

.c-text--hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.c-text--title {
  color: gray;
  font-size: 19.9681px;
  text-align: center;
  padding-top: 20px;
}

.c-text--title--large {
  padding-top: 30px;
}

.c-text--headerMenu {
  color: gray;
  font-size: 10px;
}

.c-text--main {
  font-size: 35px;
  text-shadow: 0 3px 10px rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-weight: 700;
  letter-spacing: -4px;

  @include sp {
    font-size: 26px;
    top: 22%;
  }
}

.c-text--ContentsTitle {
  font-size: 15px;
}

.c-text--section {
  margin: 50px 0;
  text-align: left;
  font-weight: 700;
  letter-spacing: -1px;

  @include sp {
    order: 2;
    font-size: max(1.3rem, 10px);
  }
}

.c-text--section--right {
  display: flex;
  flex-direction: column;
}

.c-text--section--largeSpace {
  margin-top: 120px;
}

.c-text--sectionLine {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.1px;

  @include sp {
    padding-bottom: 30px;
    font-size: 13px;
  }
}

.c-text--sectionTitle {
  margin-top: 15px;
  font-size: 18px;
  text-align: left;
  min-height: 105px;
  font-weight: 700;
  letter-spacing: -1px;
}

.c-text--schedule {
  font-size: 18px;
  text-align: left;
  color: #777;
}

.c-text--concept {
  text-align: left;
  font-size: clamp(30px, 3vw, 40px);
  padding-right: 10px;
  line-height: 1.2;
  font-weight: 700;

  @include sp {
    font-size: 18px;
  }
}

.c-text--conceptNumber {
  font-size: 16px;

  @include sp {
    font-size: 18px;
  }
}

.c-text--about {
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -1px;

  @include sp {
    font-size: 13px;
  }
}

.c-text__aboutContents {
  padding-top: 20px;
  font-size: 18px;
  font-weight: 700;
  min-height: 75px;
  letter-spacing: -1px;
}

.c-text--columnTopic {
  margin-top: 30px;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 1.2;

  @include sp {
    font-size: 21px;
  }
}

.c-text--subHero {
  color: #fff;
  text-shadow: 0 3px 10px rgba(0,0,0,0.4);
  font-size: 40px;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
}

.c-text--label {
  width: 40%;
  font-size: 18px;
  letter-spacing: -1px;
}

.c-text--telNumber {
  font-size: 40px;

  @include tab {
    font-size: 20px;
  }
}

.c-text--label,
.c-text--detail,
.c-text--telNumber {
  font-weight: 500;
  text-align: left;
}

.c-text--detail {
  font-size: 18px;
  letter-spacing: -1px;
}

.c-text--photoText {
  color: #fff;
  margin-top: 23px;
  min-height: 70px;
  font-weight: 700;
  letter-spacing: -1px;
  font-size: 18px;
}

.c-text--sectionLead {
  font-size: 24px;
  padding-bottom: 35px;
}

.c-text--sectionText {
  padding-bottom: 40px;
}

.c-text--footerLead {
  color: #fff;
  padding-top: 60px;
  font-size: 30px;
}

.c-text--footer {
  font-size: 13px;
  color: #fff;
}