@use '../../foundation/mixin' as *;

.c-topic {
  display: flex;
  padding: 20px 30px;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  position: relative;
  border-bottom: #ccc 1px solid;

  @include sp {
    width: 100%;
  }
}

.c-topic__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-topic__img {
  width: 80px;
  height: 80px;

  @include sp {
    min-width: 80px;
    max-width: 140px;
    width: 100%;
    height: 100%;
  }
}

.c-topic__text {
  padding-left: 30px;
}

.c-topic__row--top {
  display: flex;
  padding-bottom: 10px;
  gap: 10px;
}

.c-topic__row--bottom {
  text-align: start;
}

.c-topic__information {
  border: gray 1px solid;
  border-radius: 20px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-topic:hover .c-arrow {
  opacity: 1;
  transform: translateX(0);
}