@use '../../foundation/mixin' as *;

.p-footerImage {
  display: flex;
  overflow: hidden;
  position: relative;
  max-height: 80vh;
  background-color: #7e7d83;
  gap: 10px;

  @include tab {
    max-height: 70vh;
  }

  @include sp {
    max-height: 60vh;
  }
}

.p-footerImage__row {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;

  @include sp {
    &.-sp {
      display: none;
    }
  }
}