.p-footerImage {
  display: flex;
  overflow: hidden;
  position: relative;
  max-height: 80vh;
  background-color: #7e7d83;
  gap: 10px;
}

.p-footerImage__row {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}