@use '../../foundation/mixin' as *;

.p-headerMenu {
  display: flex;
}

.p-headerMenu--header {
  display: flex;
  justify-content: space-between;
}

.p-headerMenu--body {
  transition: 0.3s;
  position: fixed;
  top: 10px;
  right: 0;
  background: #fff;
  transform: translateX(100%);
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  border: solid 1px #333;
  border-radius: 5px;
  width: 450px;
  padding: 13px;
  max-height: 100dvh;
  overflow-y: auto;

  @include sp {
    min-width: 300px;
    width: 90%;
  }
}

.p-headerMenu--body.is-open {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}

.p-headerMenu--main {
  padding: 30px 0 20px;
}

.p-headerMenu--section {
  padding: 15px 0;
}

.p-headerMenu--section:last-child {
  padding: 20px 0 0;
}

.p-headerMenu--label {
  width: 100%;
  display: block;
  justify-content: center;
}

.p-headerMenu--content {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  align-items: center;
}

.p-headerMenu--footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.p-headerMenu--buttons {
  display: flex;
  justify-content: center;
  padding-top: 21px;
  gap: 20px;
}
