@use '../../foundation/mixin' as *;

.p-others {
  margin: 0;
  width: 100%;
  display: flex;

  &.-sp {
    display: none; // PCでは非表示

    @include sp {
      display: flex;
      flex-direction: column;
    }
  }

  &.-pc {
    @include sp {
      display: none;
    }
  }
}

.p-others__titleWrap {
  @include sp {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
  }
}

.p-others__title {
  @include sp {
    display: flex;
    flex-direction: column;
  }
}

.p-others__content {
  max-width: 650px;

  @include sp {
    &:first-child {
      margin-bottom: 80px;
    }
  }
}

.p-others__photoLogo {
  margin: 0 auto;
  background-color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86px;
}

.p-others__item {
  position: relative;
  width: 50%;
  background-image: url("../image/mono_Party.jpeg");
  height: 900px;
  background-size: cover;
  padding: 0 40px 150px;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }

  & > * {
    position: relative;
    z-index: 1;
  }

  @include sp {
    width: 100%;
    height: 700px;
    padding: 0 25px 150px;
  }
}

.p-others__item--cafe {
  background-image: url("../image/mono_CAFE.png");
}

.p-others__inner {
  margin-top: 260px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 25px;

  @include sp {
    margin-top: 80px;
  }
}

.p-others__textBox {
  max-width: 635px;
  text-align: left;
  font-weight: 700;
  letter-spacing: -1px;

  @include sp {
    text-align: center;
  }
}