@use '../../foundation/mixin' as *;

.p-parallax {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

  &.-full {
    height: 120vh;
  }
}

.p-parallax--right {
  width: 70%;
  margin-left: auto;
  height: auto;
}

.p-parallax--right .c-img--viewport {
  object-fit: contain;
  width: 100%;
  height: auto;
}