@use '../../foundation/mixin' as *;

.p-section {
  margin: 200px 40px;
  border-top: #eee 1px solid;

  @include sp {
    margin: 170px 20px;
  }
}

.p-section__columnList {
  margin: 200px 0;
  border-top: none;
  position: relative;

  @include sp {
    margin: 100px 0;
  }
}

.p-section--wrap {
  margin: 60px 0 100px;

  @include sp {
    margin: 30px 0 0;
  }
}

.p-section.--pc {
  @include sp {
    display: none;
  }
}

.p-section.--sp {
  display: none;

  @include sp {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
}

.p-section__inner {
  display: flex;
  justify-content: space-between;
  gap: 30px;

  @include sp {
    flex-direction: column;
    gap: 0;
  }

  &.-gap-200 {
    gap: clamp(40px, 7vw, 200px);
  }

  &.-gap-300 {
    gap: clamp(40px, 10vw, 300px );
  }
}

.p-section__inner--concept {
  @include sp {
    display: flex;
    justify-content: end;
    margin-bottom: 40px;
  }
}

.p-section__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include sp {
    display: contents;
  }
}

.p-section__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include sp {
    width: 100%;
    max-width: none;
  }

  &.-basis-20 {
    flex-basis: 20%;
  }

  &.-between {
    justify-content: space-between;
  }
}

.p-section__text--concept {
  flex-basis: 20%;
}

.p-section__button--fair {
  @include sp {
    order: 3;
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
}

.p-section__contentsWrap {
  display: flex;
  gap: 15px;

  @include sp {
    width: 100%;
    order: 2;
    overflow-x: auto;

    &.-sp-column {
      flex-direction: column;
    }

    &.-others {
      margin-bottom: 130px;
    }
  }
}

.p-section__content {
  flex: 1;
  display: flex;
  flex-direction: column;

  &:hover .c-arrow--event {
    opacity: 1;
    transform: translateX(0);
  }

  @include sp {
    flex: 0 0 70%;
    align-items: center;
  }
}

.p-section__concept {
  display: flex;
  flex: 1;
  overflow: hidden;
  position: relative;
  justify-content: space-between;
  gap: 40px;

  @include sp {
    flex-direction: row-reverse;
    align-items: flex-start;
    width: 100%;
    gap: clamp(15px, 6vw, 30px);
  }
}

.p-section__concept--row {
  flex-direction: row;
  margin-top: 50px;
}

.p-section--textBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  writing-mode: vertical-rl;
  flex: 1;
}

.p-section--textBoxLeft {
  justify-content: end;
}

.p-section__button {
  display: flex;
  justify-content: center;
  margin-top: 25px;

  @include sp {
    margin-top: 20px;
  }
}

.p-section__about {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  @include sp {
    flex-direction: column-reverse;
    align-items: start;
  }
}

.p-section__aboutBox {
  display: flex;
  gap: 20px;
  padding-top: 50px;

  @include sp {
    flex-direction: column;
    padding-top: 30px;
    gap: 50px;
  }
}

.p-section__aboutContents {
  width: calc(100% / 3);

  @include sp {
    width: 100%;
  }
}

.p-section__others {
  background-color: #333;
}

.p-section__othersWrap {
  margin: 0 40px;
}