@use '../../foundation/mixin' as *;

.p-tagList {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  max-width: 290px;

  @include sp {
    width: 80%;
  }
}

.p-tagList li {
  border: #ccc 1px solid;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
  font-weight: 500;
}